@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(8, 8, 8);
    font-family: "Poppins", sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #3ed634;
    /*background-image: linear-gradient(160deg, #21e24b 0%, #f8faf8 100%);*/
    background-image: url(banner3.jpg);

}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    position: relative;
    width: 410px;
    height: 620px;
    border-radius: 5px;
    background-color: #f4f2f2;
    padding: 45px 40px 20px 40px;
    box-shadow: 10px 10px 20px rgba(240, 237, 237, 0.896), -10px -10px 20px rgba(0, 0, 0, 0.361);
}



form h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

.input {
    margin: 20px 0;
    position: relative;
}
.radio-cls
{
  margin: 20px 0;
  position: relative;
  border-bottom: 0.4px solid rgba(255, 0, 0, 0.463);
}
.radio-cls input
{
  padding: 20px;
  margin-right: 4px;
}


.input input {
    width: 100%;
    height: 40px;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 0.4px solid rgba(255, 0, 0, 0.463);
    font-size: 17px;
    padding-top: 20px;
}

.input label {
    position: absolute;
    left: 0;
    bottom: 5px;
    pointer-events: none;
    transition: 0.6s;
    font-size: 14px;
}

form input:focus+label,
input:valid~label {
    bottom: 24px;
    left: 2px;
    color: #0093e9;
    font-size: 13px;
}

form input[type="submit"] {
    padding: 4px 20px;
    align-content: center;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 10px;
    padding: 3px 20px;
    font-size: 15px;
    background-color: #4bc84b;
}

.L_btn {
    transition: all .2s ease-in-out;
}

.L_btn:hover {
    transform: scale(1.1);
}

.box {
    position: relative;
}

.forgot {
    position: absolute;
    font-size: 10px;
    padding: 5px 0;
    right: 0;
}

.signup {
    font-size: 12px;
    padding: 2px;
    text-align: center;
}

a {
    color: #0093e9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.line {
    background-color: white;
    width: 100%;
    height: .2px;
    opacity: .2;
    margin-top: 30px;
}

.div {
    position: absolute;
    left: 0;
    width: 100%;
}